html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#cesiumContainer {
  height: 100%;
}
#toolbar {
  left: 2%;
  position: absolute;
  top: 3%;
  z-index: 2;
}
#white-text {
  color: white;
}
#return-to-ground-button {
  margin-top: 5%;
  position: relative;
}
